@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Marcellus|Nanum+Myeongjo:400,700,800|Old+Standard+TT:400,400i,700|Prata|Vidaloka');

body {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none !important;
}

ul {
  list-style: none;
}
li {
  display: inline-block;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}


/* =========== Header ========== */

header {
  background: #8c8c8c;
}

.header_inside {
  padding: 25px 0;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu {
  font-size: 18px;
  text-transform: uppercase;
}

.header_menu_link {
  padding-left: 40px;
  text-decoration: none;
  color: black;
  opacity: .75;

  transition: opacity .1s linear;
}

.header_menu_link:hover {
  opacity: 1;
}

/* ======= first ========== */

.first {
  margin-top: -25px;
  height: 650px;
  background: #fff url("images\\Pirozhki2.jpg") center no-repeat;
  padding: 110px 30%;
}

.title_back {
  background: #db8a5e;
  opacity: .75;
  border-radius: 20px;
  padding: 70px 0;
}

.title {
  font-size: 28px;
  opacity: .95;
  display: flex;
  word-wrap: normal;
  align-items: center;
  justify-content: center;
}

.etotborder {
  padding: 0 30%;
}

.shop_btn_link {
  text-decoration: none;
  color: white;
}

.shop_btn {
  background: #ff5454;
  opacity: .8;
  margin-top: 50px;
  padding: 21px;
  border-radius: 35px;
  display: flex;
  text-transform: uppercase;
  font-size: 24px;
  align-items: center;
  justify-content: center;

  transform: opacity .1s linear;
  transform: background .1s linear;
}

.shop_btn:hover {
  opacity: 1;
  background: #fc3a3a;
}


/* ======= product ========== */

.section h1{
  font-size: 6rem;
  font-weight: 300;
}

.product{
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  justify-content: space-between;
}

.name{
  font-size: 4rem;
  font-weight: 350;
}

.description{
  font-size: 2rem;
  font-weight: 450;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;

}
/* ======= form ========== */
.radio {
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formbox {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 100px;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}
/* ======= footer ========== */

/* footer {
  padding-top: 70px;
  background: #eebdf0;
  font-family: 'Raleway';
}

.footer_inside {
  display: flex;
  flex-wrap: wrap;
}

.footer_item {
  color: black;
  width: 31%;
}

.italic {
  font-family: 'Arial';
  font-style: italic;
}


.madeby {
  margin-top: 50px;
  font-size: 12px;
  padding-bottom: 20px;
  text-align: right;
  font-style: italic;
} */

.music-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.music-block audio {
  width: 50%;
}

.footer {
  margin-bottom: 0 !important;
}

.footer button {
  background-color: white;
  color: black;
  border: 1px solid rgba(105, 105, 105, 0.705);
}