 @import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body{
  background: rgb(245,235,235);
  background: linear-gradient(180deg, rgba(245,235,235,1) 28%, rgba(255,162,0,1) 100%);
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body{
  transition: 2s;
}

header {
  padding: 15px 0;
  text-transform: uppercase;
  background-color: white;
}

#btnmoon{
  background-image: url("moon.png");
}

#nbar{
  background-color: white;
}



.nav-link{
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#icon_items{
  display: flex;
  justify-content: end;
}
.numb{
  background: #f4511e;
}
.stepcon{
  background-color: white;
}
#head_items{
  align-items: center;
}
* {
  box-sizing: border-box;
}
.icontext{
margin-top: auto;
margin-bottom: auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.carousel-caption{
  top:35%;
}
.how{
  font-size: 80px;
}
ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}
li{
  padding: 9px;

}
a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.begin {
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#for{
  background: #f4511e;
}
.player-container {
    max-width: 500px;
    margin: 20px auto;
}

.step1 {
  font-size: 30px;
  padding-top: 18%;
  background-image: url(https://st.depositphotos.com/1016682/2450/i/600/depositphotos_24502465-stock-photo-white-brick-wall.jpg);
}

.step2 {
  font-size: 30px;
  padding-top: 5%;
  background-image: url(https://st.depositphotos.com/1016682/2450/i/600/depositphotos_24502465-stock-photo-white-brick-wall.jpg);
}

.step3 {
  font-size: 30px;
  padding-top: 5%;
  background-image: url(https://st.depositphotos.com/1016682/2450/i/600/depositphotos_24502465-stock-photo-white-brick-wall.jpg);
}

.step4 {
  font-size: 30px;
  padding-top: 5%;
  background-image: url(https://st.depositphotos.com/1016682/2450/i/600/depositphotos_24502465-stock-photo-white-brick-wall.jpg);
}

.step5 {
  font-size: 30px;
  padding-top: 5%;
  background-image: url(https://st.depositphotos.com/1016682/2450/i/600/depositphotos_24502465-stock-photo-white-brick-wall.jpg);
}

.step6 {
  font-size: 30px;

  background-image: url(https://st.depositphotos.com/1016682/2450/i/600/depositphotos_24502465-stock-photo-white-brick-wall.jpg);
}

li {
    margin: 5 10px;
  }
h1 .stext{

  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}


.footer_inside {
  display: flex;
  flex-wrap: wrap;
}

.footer_item {
  color: white;
  width: 31%;
  margin-top: 20px;
}

hr{
    clear:left;
}
td {
   border: 5px solid yellow;
   font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

}
.img{
  height: auto;
  width: auto;
}
.navbar-nav{
  align: right;
}

#watchbtn{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#watchbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#watchbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#watchbtn:hover span {
  padding-right: 25px;
}
#comm{
  background-color: white;
}
#watchbtn:hover span:after {
  opacity: 1;
  right: 0;
}
#vid{
   text-decoration: none;
   color: white;
   font-family: Impact, fantasy;
   font-size: 25px;
  }
footer {
  padding-top: 20px;
  background: rgb(232,245,240);
  background: linear-gradient(238deg, rgba(232,245,240,1) 0%, rgba(50,13,13,1) 0%);
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.madeby {
  margin-top: 20px;
  font-size: 12px;
  color: white;
  padding-bottom: 20px;
  text-align: right;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
