body {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
a { 
  text-decoration: none;
  color: black;
}
a:hover { 
  text-decoration: none;
  color: rgb(138, 148, 202);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width:1200px) {
  .container {max-width: 970;}
}
@media (max-width:992px) {
  .container {max-width: 750;}
}
@media (max-width:767px) {
  .container {max-width: none;}
}
.italic {
  font-style: italic;
}
/* ======= header ========== */

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
  padding-right: 15px;
}

.iconlogo img {
  width: 100px;
}

.navbar {
  background: linear-gradient(14deg, rgba(68,73,73,1) 0%, rgba(244,81,30,1) 100%);
}

.nav-item {
  text-align: center;
}

.nav-link {
  font-size: 18px;
  transition: .1s;
}

.dropdown-item {
  transition: .5s;
}

/* #firsttheme {
  background: linear-gradient(180deg,#f9f6f1,#f2ead3,#f5991a,#311313);
}

#secondtheme {
  background: linear-gradient(180deg,#f9f6f1,#f2ead3,#f5991a,#311313);
} */

/* ======= body ========== */

.mainbody {
  background: linear-gradient(180deg, rgba(83,80,80,1) 28%, rgba(25,25,25,1) 65%);
}


.first_section {
  /* background-color: #f2ead3; */
  padding: 20px 0;
}

.alert {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 25px;
  background-position: 0 0;
  background: 400% 400%;
  background:linear-gradient(270deg, #996d4a,#dd551f,#dd551f, #ec2a11,#dd551f,#dd551f,#996d4a);
  animation: oks 30s infinite alternate;
  color: rgb(212, 207, 207);
  border-radius: 25px;
  text-align: center;
  min-width: 250px;
  max-width: 55%;
  margin: auto;
  border: 0;
}

@keyframes oks {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 640px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.border {
  display: flex;
  border-radius: 15ch;
  border: 0;
  min-width: 70px;
  width: 17%;
  height: 3em;
  margin: 0 auto;
}

.shop_btn {
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  background-color: #ff7300;
  transition: .5s;
}

.shop_btn::after {
  content: ':)';
  opacity: 0;
  transition: .5s;
}

.shop_btn:hover {
  padding-right: 15px;
  background-color: rgb(248, 207, 158);
}

.shop_btn:hover::after {
  opacity: 1;
}

.shop_btn_link {
  text-transform: uppercase;
}



.second_section {
  margin-top: 80px;
  padding-bottom: 40px;
}

.headOfSection {
  padding: 25px 0;
  text-align: center;
  background-size: 400% 400%;
  background: linear-gradient(to right,#ffffff 40%,#dad8d8 43%, #8d8c8c 45%,#636161 48%,#252424 55%,#000000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 10s ease infinite;
  animation: rainbow 5s ease infinite;
  font-size: 40px;
  line-height: 40px;
}
@-webkit-keyframes rainbow {
  0% { background-position: 40% 50% }
  50% { background-position: 60% 50% }
  100% { background-position: 40% 50% }
}

@keyframes rainbow {
  0% { background-position: -10px 0}
  50% { background-position: 140px 0}
  100% { background-position: -10px 0}
}

.features {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.feat_item {
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  padding: 15px;
  max-width: 30%;
  min-width: 300px;
  display: inline-block;
  background: linear-gradient(180deg, rgb(116, 112, 112) 0%, rgb(85, 79, 79) 100%);
  color: #eee3e3;
  /* #f7c48171; */
  border-radius: 3ch;
  margin: 15px auto;
}

.feat_icon {
  font-size: 70px;
}

#ic {
  fill:rgb(238, 227, 227);
}

/* ======= footer ========== */

footer {
  padding: 10px 0; 
  background: linear-gradient(90deg,rgb(153, 75, 30) 0%, rgb(196, 123, 80) 50%, rgba(68,73,73,1) 100%);;
  color: rgb(202, 202, 202);
  font-weight: 500;
}

.footer_inside {
  display: inline-block;
  width: 100%;
}

.citation {
  float: left;
}

.awesome {
  float: right;
  padding: 10px 25px 0 0;
}

.awesomelink {
  color: rgb(202, 202, 202);
  font-size: 20px;
  margin-left: 10px;
  transition: .1s;
}

.awesomelink:hover {
  color:rgba(151, 170, 255, 0.808); 
}

.madeby {
  font-size: 12px;
  text-align: right;
}
